{% extends 'base.html' %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    {% block base_head %}
        <title>Payment</title>
    {% endblock %}
</head>
<body>
    {% block base_body %}
        <div class="container">
            <div>
                                    <div class="form-group form-inline">
                                        <label class="checkbox-inline"><input name="bradio" type="radio" value="eval" > Enter Credit Card Details: </label>
                                        <input class="form-control" name="cardname" type="text" placeholder="Enter Card Holder Name"  style="width: 200px"/>
                                        <input class="form-control" name="card" type="text" placeholder="Enter Card Number" maxlength="12"/>
                                        <input class="form-control" name="cvv" type="text" placeholder="Enter CVV Number" maxlength="3"/>
                                    </div>
                                    <div class="form-group form-inline">
                                        <label class="checkbox-inline"><input name="bradio" type="radio" value="dval" > Enter Debit Card Details: </label>
                                        <input class="form-control" name="dcardname" type="text" placeholder="Enter Card Holder Name"  style="width: 200px"/>
                                        <input class="form-control" name="dcard" type="text" placeholder="Enter Card Number" maxlength="12"/>
                                        <input class="form-control" name="dcvv" type="text" placeholder="Enter CVV Number" maxlength="3"/>
                                    </div>
                                    <div class="form-group">
                                        <label class="checkbox-inline"><input name="bradio" type="radio" value="nval" required> COD ( Cash On Delivery ) </label>
                                    </div>
                                </div>
        </div>
    {% endblock %}
</body>
</html>
