{% extends 'provider/pro_base.html' %}
<!DOCTYPE html>
<html lang="en">
<head>

    {% block pro_head %}
        <title>My Books</title>
    {% endblock %}

</head>
<body>
    {% block pro_body %}
        <div class="container">
            <div class="row"><div class="col-sm-12"><h2>Add a Book</h2></div></div>
            <div class="row"><div class="col-sm-12"><h3 style="color: #1c7430;">{{ mess }}</h3></div></div>
            <div class="row">
            <div class="col-sm-2"></div>
                <div class="col-sm-8">
                    <form enctype="multipart/form-data" method="POST" class="form-horizontal" action="{% url 'pro_add_book' %}">{% csrf_token %}

                        <div class="form-group">
                          <label class="control-label col-sm-2" for="Title">Title: </label>
                          <div class="col-sm-10">
                            <input required type="text" name="book_title" placeholder="Enter Title" class="form-control">
                          </div>
                        </div>

                        <div class="form-group">
                          <label class="control-label col-sm-2" for="genre">Genre: </label>
                          <div class="col-sm-10">
                            <select required name="bgenre" class="form-control">
                                {% for x in cateobj %}
                                    <option value="{{ x.category_name }}">{{ x.category_name }}</option>
                                {% endfor %}
                            </select>
                              <br />
                          </div>
                        <div class="form-group">
                          <label class="control-label col-sm-2" for="isbn10">ISBN10: </label>
                          <div class="col-sm-10">
                            <input required type="text" name="bisbn" placeholder="Enter ISBN10 Number (example : 8684654579)" maxlength="10" class="form-control">
                          </div>
                        </div>
                        <div class="form-group">
                          <label class="control-label col-sm-2" for="author">Author: </label>
                          <div class="col-sm-10">
                            <input required type="text" name="bauthor" placeholder="Enter Author Name" class="form-control">
                          </div>
                        </div>
                        <div class="form-group">
                          <label class="control-label col-sm-2" for="publsiher">Publisher: </label>
                          <div class="col-sm-10">
                            <input required type="text" name="bpub" placeholder="Enter publisher name" class="form-control">
                          </div>
                        </div>
                        <div class="form-group">
                          <label class="control-label col-sm-2" for="copies">No of Copies</label>
                          <div class="col-sm-10">
                            <input required type="number" min="1" name="bcopies" placeholder="Enter copies (example : 20)" class="form-control">
                          </div>
                        </div>

                        <div class="form-group">
                          <label class="control-label col-sm-2" for="price">Price: </label>
                          <div class="col-sm-10">
                            <input required type="number" min="1" name="bprice" placeholder="Enter price (example : 1000)" class="form-control">
                          </div>
                        </div>

                        <div class="form-group">
                          <label class="control-label col-sm-2" for="lang">Language: </label>
                          <div class="col-sm-10">
                            <input required type="text" name="blang" placeholder="Enter book Language" class="form-control">
                          </div>
                        </div>

                        <div class="form-group">
                          <label class="control-label col-sm-2" for="year">Year: </label>
                          <div class="col-sm-10">
                            <input required type="text" maxlength="4" name="byear" placeholder="Enter Year (example : 2019)" class="form-control">
                          </div>
                        </div>


                        <div class="form-group">
                          <label class="control-label col-sm-2" for="desc">Description: </label>
                          <div class="col-sm-10">
                            <textarea required name="bdes" placeholder="Enter Book Description" class="form-control" rows="10"></textarea>
                          </div>
                        </div>

                        <div class="form-group">
                          <label class="control-label col-sm-2" for="pic">Upload Cover Photo: </label>
                          <div class="col-sm-10">
                            <input required type="file" name="bphoto" class="form-control" />
                          </div>
                        </div>

                         <div class="form-group">
                            <div class="col-sm-offset-2 col-sm-10">
                              <input type="submit" value="UPLOAD" class="btn btn-primary" />
                            </div>
                        </div>
                      </form>
                </div>
            </div>
            <div class="col-sm-2"></div>
        </div>
    {% endblock %}
</body>
</html>