{% extends 'provider/pro_base.html' %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>


    {% block pro_head %}
        <title>My Books</title>
    {% endblock %}
</head>
<body>
    {% block pro_body %}
        <div class="container">
            <div class="row"><div class="col-sm-12"><h2>MY BOOKS...</h2></div></div>

            {% for x in bobj %}
            <div class="row">

                <div class="col-sm-10" style="padding:10px; margin-top: 10px; border-bottom:1px solid #C0C0C0; height:250px">
                    <div class="row">
                        <div class="col-sm-3"  style=" height: 210px; background-repeat:no-repeat; background-size:cover;">
                            <img src="{{ x.book_image.url }}" style=" height: 210px; width:200px;" alt="image"/>
                        </div>
                        <div class="col-sm-9">
                            <div class="row"><div class="col-sm-12"><h2>{{ x.book_title }}</h2></div></div>
                            <div class="row">
                                <div class="col-sm-4">
                                    <h4>Rating - {{ x.book_rating }} out of 5</h4>
                                    <h4>Author - {{ x.book_author }}</h4>
                                    <h4>Publisher - {{ x.book_publisher }}</h4>
                                    <h4>Price - {{ x.book_price }} Rs</h4>
                                </div>
                                <div class="col-sm-4">
                                    <h4>Genre - {{ x.book_category }}</h4>
                                    <h4>ISBN10 - {{ x.book_isbn10 }}</h4>
                                    <h4>Language - {{ x.book_language }}</h4>
                                    <h4>Copies Available - {{ x.book_copies }}</h4>
                                </div>
                                <div class="col-sm-4">
                                    <h4>Description :- </h4>
                                    <div style="overflow-y: scroll; height:100px;" >
                                        <p>{{ x.book_description }}</p>
                                    </div>
                                </div>
                            </div>
                    </div>
                    </div>
                </div>
            <div class="col-sm-2">
            </div>
            </div>
            {% endfor %}

        </div>
    {% endblock %}
</body>
</html>